@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Patua+One&family=Rubik+Wet+Paint&display=swap');



body{
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
}
footer{
    background-color: rgb(14, 13, 13);
}
.wrapper .inner .icons .icon {
    color: white;
}
.para{
    color: azure;
}
.banner .actions.stacked li a.button:hover{
    background-color: rgb(65, 59, 59);
}
.spotlight .actions.stacked li a.button:hover{
    background-color: rgb(65, 59, 59);
}